footer{
    padding-top: 2em;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}
.wrapper{
    background-color: #F2F2F2;
}
.wrapper div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2em;
}
.wrapper div strong{
    margin-bottom: 1em;
}
.wrapper div a{
    color: black;
}
.wrapper div a:hover{
    color: grey;
}
@media only screen and (min-width: 900px){
    .wrapper{
        padding: 0 1em;
        display: flex;
        justify-content: space-between;
        width: 1400px;
    }
    
    .wrapper div:nth-child(3){
        margin-left: 50px;
    } 
}
