footer{
    padding-top: 2em;
    background-color: #F2F2F2;
    margin: 0 auto;
}
.wrapper{
    background-color: #F2F2F2;
    padding-left: 20px;
}
.wrapper div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2em;
}
.wrapper div strong{
    margin-bottom: 1em;
}
.wrapper div a{
    color: black;
    padding-bottom: 1em;
}
.wrapper div a:hover{
    color: grey;
}
@media only screen and (min-width: 900px){
    .wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
    }
    .wrapper div{
        width: 33%;
    }
}