header nav{
    display: grid;
    grid-template-columns:auto min-content min-content min-content;
}
#logo{
    padding: 30px 0px;
}
header nav a{
    padding: 30px;
    padding-top: 30px;
    position: relative;
    color: grey;
    text-decoration: none;
}
header nav a:nth-child(2){
    color: #0065FC;
    border-top: #0065FC solid 3px;
}
header nav a:nth-child(4){
    color: #0065FC;
    font-weight: bolder;
}
header nav a:hover{
    color: #0065FC;
}
@media only screen and (min-width: 376px){
    header form *{
        vertical-align: middle;
        font-size: 19px;
    }
    header form i{
        background-position: center;
        padding: 10px;
        margin-right: -5px;
        background-color: #F2F2F2;
        border-radius: 10px 0 0 10px;
        border: 1px #F2F2F2 solid;
    }
    #text-ville{
        padding: 10px;
        margin-right: -5px;
        border-radius: 0;
        border: 1px #F2F2F2 solid;
    }
    #submit{
        padding: 10px;
        border-radius: 0% 10px 10px 0%;
        border: 1px #F2F2F2 solid;
        color: white;
        background-color: #0065FC;
    }
}
#filtres{
    font-weight: bolder;
    font-size: larger;
    margin: 2em 0;
}
#filtres a{
    white-space: nowrap;
    border: 2px #F2F2F2 solid;
    padding: 14px 5px 13px 0;
    border-radius: 30px;
    color: #0065FC;
    margin-left: 2em;
    transform: scale(1);
}
#filtres a i{
    color: #0065FC;
    width: 20px;
    height: 20px;
    background-color: #deebff;
    padding: 16px;
    border-radius: 100%;
}
#filtres a span{
    color: black;
}
#filtres a:hover span, #filtres a:hover{
    animation: animation_filtre 0.5s;
    color: white;
    background-color: #0065FC;
}

#info{
    color: #0064fe;
    background-color: white;
    border: solid black 1px;
    border-radius: 100%;
    padding-left: 7px;
    padding-top: 3px;
    width: 13px;
    height: 20px;
    transform: scaleX(0.5);
    transform: scaleY(0.9);
}
@keyframes animation_filtre {
    from{
        color: #0065FC;
        background-color: white;
    }
    to{
        color: white;
        background-color: #0065FC;
    }
}