@media only screen and (max-width: 375px){
    header nav{
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows:1fr 1fr;
    }
    header nav img{
        margin-left: 2em;
    }
    header nav a:nth-child(4){
        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }
    header nav a:nth-child(2){
        grid-column: 1;
        grid-row: 2;
        align-self: baseline;
        color: #0065FC;
        border-bottom: #0065FC solid 3px;
        border-top: none !important;
    }
    header nav a:nth-child(3){
        grid-column: 2;
        grid-row: 2;
        align-self: baseline;
        border-bottom: #63636336 solid 3px;
    }

    header div h2{
        font-weight: bolder;
        font-size:larger;
        padding: 0 15px;
        text-align: justify;
    }
    header div p{
        text-align: center;
    }

    header form{
        white-space: nowrap;
        margin: 0 10px;
    }
    header form i{
        background-color: #F2F2F2;
        width: 10px;
        height: 10px;
        vertical-align: middle;
    }
    #text-ville{}
    #submit{}

    #filtres a {
        font-size: medium;
    }
    header :nth-child(5) {
        margin: 20px;
    }
    
    #hebergements_et_populaires{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-row: 1fr 1fr !important;
        gap: 20px;
    }
    #populaires{
        grid-row: 1;
        width: 100% !important;
    }
    
    #hebergements{
        background-color: white !important;
    }
    
    #grid-hebergements{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, 1fr);
    }

    #activites h1{
        margin: 20px;
    }
    #grid-activites{
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, 1fr) !important;
        height: auto;
    }
    #grid-activites *{
        margin: 20px;
        grid-row: auto !important;
        grid-column: auto !important;
        height: auto !important;
        padding: 0 !important;
    }
    #grid-activites article{
        width: 330px !important;
        height: 190px !important;
    }
    #grid-activites article a{
        margin: 0 !important;
    }
    #grid-activites article a img{
        width: 330px !important;
        margin: 0 !important;
        height: 140px !important;
    }
    footer{
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}
/*
            <form action="index.html" method="get">
                <i class="fas fa-map-marker-alt"></i>
                <input type="text" name="ville" id="text-ville" placeholder="ex: Parie, France" value="Marseille, France">
                <input type="submit" value="Rechercher" id="submit">
            </form>
*/