@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('./header.css');
@import url('./content.css');
@import url('./footer.css');
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}
@media screen and (min-width: 900px){
    #content{
        margin: 0 50px;
    }    
}
.grey{
    color: grey;
}
a{
    text-decoration: none;
}
.boutonTransparent{
    transition: 1s;
    padding: 15px;
    margin: 3em 0 1em 2em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: large;
    font-weight: bolder;
    border-radius: 30px;
}
.boutonTransparent:hover{
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.05);
}