#hebergements{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 2em
}
#grid-hebergements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
#grid-hebergements article{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    width: 250px;
    box-shadow: gray 1px 1px 5px;
}

#grid-hebergements article img{
    border-radius: 15px 15px 0 0;
    height: 115px;
    width: 100%;
    overflow: hidden;
}
#grid-hebergements article a h4{
    border-radius: 15px 15px 0 0;
    width: 100%;
    overflow: hidden;
    color: black;
}