#hebergements{
    padding-top: 2em;
}
#hebergements h1{
    padding-left: 20px;
}
#grid-hebergements{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: center;
}
#grid-hebergements article{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: gray 1px 1px 5px;
}

#grid-hebergements article img{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 115px;
    width: 100%;
    overflow: hidden;
}
#grid-hebergements article a h4{
    border-radius: 15px 15px 0 0;
    width: 100%;
    overflow: hidden;
    color: black;
}
@media only screen and (max-width: 1023px) and (min-width: 500px){
    #hebergements{
        background-color: #F2F2F2;
        margin-right: 30px;
        width: 100%;
        border-radius: 15px;
    }
    #grid-hebergements{
        justify-content: space-between;
        align-content: space-between;
    }
    #grid-hebergements article{
        width: 300px !important;
    }
}
@media only screen and (min-width: 1024px){
    #hebergements{
        background-color: #F2F2F2;
        margin-right: 30px;
        width: 70%;
        border-radius: 15px;
    }
    
    #grid-hebergements{
        justify-content: space-between;
        align-content: space-between;
    }
    #grid-hebergements article{
        width: 30% !important;
    }
}